body {
  font-family: Arial, Helvetica, sans-serif;
  background: lightgrey



}
h1 {
  color:navy;
  text-align: center;
  font-family: cursive
 
}
img{
margin:0 auto;
width: 45%; 
display: block;

}
h3{
  color:navy;
text-align: center;
padding: 0%
}
p{
  color:black;
  font-size: 12pt
  
}
footer{
  text-align: center;
}
